In [1]:
import pandas as pd
import numpy as np

In [4]:
train_dataset = pd.read_csv('https://raw.githubusercontent.com/ananya-agarwal/Python--7th-Sem/main/train.csv')

In [5]:
X_train = train_dataset.iloc[:,1:51]

In [6]:
Y_train = train_dataset.iloc[:,51:52]

In [7]:
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression

In [8]:
logreg = LogisticRegression()

In [9]:
logreg.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [39]:
df1 = pd.read_csv('https://raw.githubusercontent.com/ananya-agarwal/Python--7th-Sem/main/test_utf8.csv')

In [40]:
X_test = df1.iloc[:,1:51]
X_test.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f41,f42,f43,f44,f45,f46,f47,f48,f49,f50
0,4,0,4,3,4,3,1,4,1,2,...,0,0,0,2,0,0,2,1,0,0
1,2,1,0,2,4,1,1,3,4,3,...,0,4,0,0,1,1,1,2,1,1
2,2,2,0,1,4,0,0,3,1,3,...,0,4,0,1,0,0,1,0,0,1
3,0,2,1,2,3,1,2,4,1,2,...,2,3,3,2,1,1,1,2,1,1
4,4,2,0,1,4,0,0,1,0,2,...,0,2,0,0,4,1,2,4,1,1

In [41]:
y_test0 = df1.iloc[:,0:1]
y_test1 = logreg.predict(X_test)
y_test2 = pd.DataFrame(y_test1,columns = ['target'])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- f50
Feature names seen at fit time, yet now missing:
- target

  warnings.warn(message, FutureWarning)

In [42]:
final_df = pd.concat([y_test0,y_test2], axis=1)

In [43]:
final_df.head()

           id  target
0  nxpucs3000       0
1  nxpucs3001       0
2  nxpucs3002       0
3  nxpucs3003       0
4  nxpucs3004       1

In [44]:
final_df.to_csv('logreg_afterutf8.csv',index=False)